{% block content %}
	{% load static %}
	{% load i18n %}
		<form id="get_discount_form" class="text-center" id="get_discount_form" method="POST">
			{% csrf_token %}
				<div>
					<span id="errors">
					</span>
					{% if form.errors %}
						{% for field in form %}
							<span id="errors_form">
							{% for error in field.errors %}
								<div class="alert alert-danger mx-auto width-50-percentage errors-discount" style="top: 15px;">
									<strong>{{ error|escape }}</strong>
								</div>
							{% endfor %}
							</span>
						{% endfor %}
						{% for error in form.non_field_errors %}
							<div class="alert alert-danger errors-discount" style="top: 15px;">
								<strong>{{ error|escape }}</strong>
							</div>
						{% endfor %}
					{% endif %}
					{% if tickets_discounts.available %}
						<div class="form-group">
							<label class="font-weight-bold mt-2">{% trans "Choose an available discount" %}</label>
							<div id="select_ticket_type" class="input-group input-group-lg mx-auto col-7">
								{{ form.tickets_type }}
							</div>
						</div>
					{% endif %}
						<div id="form-members-numbers" class="form-group">
							<label class="font-weight-bold">{% trans "Enter your member number" %}</label>
							<div class="row justify-content-md-center">
								<div class="input-group input-group-lg col-5">
									{{ form.member_number_1 }}
								</div>
								<div class="col-2">
									<button class="btn btn-light mt-1" id="add_field" type="button">
											<span>{% trans "Add number" %}</span>
									</button>
								</div>
							</div>
						</div>
				</div>
				<div id="loading">
					<div>
						<svg class="eds-progress-indicator--circular eds-fx--rotate" viewBox="0 0 100 100" id="spinner" aria-valuetext="In progress">
						  <defs>
							<linearGradient id="stroke-small-chunky-gradient-indeterminate">
							  <stop offset="0%" stop-color="#4BE1A0"></stop>
							  <stop offset="50%" stop-color="#4BE1A0"></stop>
							  <stop offset="100%" stop-color="#4BE1A0" stop-opacity="0"></stop>
							</linearGradient>
						  </defs>
						  <path d="M93.5,50C93.5,74,74,93.5,50,93.5S6.5,74,6.5,50S26,6.5,50,6.5" stroke="url(#stroke-small-chunky-gradient-indeterminate)" stroke-width="10" stroke-linecap="round" shape-rendering="geometricPrecision" fill="none"></path>
						</svg>
						<progress class="eds-is-hidden-accessible"></progress>
					</div>
				</div>
				<div>
					{% if event_discount.available %}
						<button class="eds-btn eds-btn--button eds-btn--neutral" id="continue" onclick="window.open('{{ event.url }}', '_blank')">
						{% trans "Continue without discount" %}
						</button>
					{% elif  tickets_discounts.available %}
						<button class="eds-btn eds-btn--button eds-btn--neutral" id="continue" onclick="window.open('{{ event.url }}', '_blank')">
						{% trans "See other tickets" %}
						</button>
					{% endif %}
					<input type="submit" id="submit_btn" class="eds-btn eds-btn--button eds-btn--fill" value="{% trans "Get Discount" %}"/>
				</div>
		</form>
		<script>
			var input_added = 2
			$(document).ready(function(){
				var form_options = {
					target: '#get_discount_form',
					dataType: 'json',
					success: function(response) {
						window.location.href=response.url
						$("#loading").hide()
					},
					error: function(response){
						document.getElementById('errors').innerHTML=$($.parseHTML(response.responseText)).find("#errors_form")[1].innerHTML;
						$('#submit_btn').val("{% trans 'Retry' %}");
						$('#continue').html("{% trans 'Continue without discount' %}");
						$("#loading").hide()
						$("#submit_btn").show()
						$("#continue").show()
					}
				}
				$('#get_discount_form').ajaxForm(form_options);
				var max_member_number = 10
				$("#loading").hide()
				$("#submit_btn").click(function(){
					var invalidNumber = false
					if(!($('[name=member_number_1]').val() == "")){
						for (i = 2; i < input_added; i++) {
	    					if($('[name=member_number_' + i +']').val() == ""){
	    						invalidNumber = true
	    					}
						}
						if(!invalidNumber){
							$("#submit_btn").hide()
							$("#continue").hide()
							$("#loading").show()

						}
					}
				});


				$("#add_field").on('click',function(){
				if(input_added <= max_member_number){
					var member_input = '<div class="row justify-content-md-center"><div class="input-group input-group-lg col-5"><input name="member_number_' + input_added+ '" type="number" class="form-control" style="margin-top: 10px;" placeholder= ' + "{% trans 'Insert&#32;your&#32;member&#32;number&#32;here' %}" +  ' required/></div><div class="col-2"><input class="btn btn-light mt-3" name="remove_number_' + input_added + '" type="button" value="X" onclick="remove('+ input_added +')" style="font-weight: 600; color: black;"/></div></div>';
					$("#form-members-numbers").append(member_input)
					input_added += 1
				}else{
					alert("You can only add up to 10 member's numbers")
				}
			});
		});
		function remove(input_to_delete){
			$('[name=member_number_' + input_to_delete + ']').val('')
			$('[name=member_number_' + input_to_delete + ']').remove()
			$('[name=remove_number_' + input_to_delete + ']').remove()
			for(i=input_to_delete+1; i<= input_added; i++){
				$('[name=member_number_' + i + ']').attr('name', 'member_number_' + (i-1))
				$('[name=remove_number_' + i + ']').attr('onclick', 'remove(' + (i-1) + ')')
				$('[name=remove_number_' + i + ']').attr('name', 'remove_number_' + (i-1))
				input_added -= 1
			}
		}
		</script>

{% endblock %}
