{% extends '../shared/base.html' %}
{% block content %}
	{% load static %}
	<div class="modal-dialog" role="document">
		<form id="get_discount_form" action="{% url 'get_discount' organizer.id event_id %}" method="POST">{% csrf_token %}
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Get Discount</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<span id="errors">
					</span>
					{% if form.errors %}
						{% for field in form %}
							<span id="errors_form">


							{% for error in field.errors %}
								<div class="alert alert-danger">
									<strong>{{ error|escape }}</strong>
								</div>
							{% endfor %}
							</span>
						{% endfor %}
						{% for error in form.non_field_errors %}
							<div class="alert alert-danger">
								<strong>{{ error|escape }}</strong>
							</div>
						{% endfor %}
					{% endif %}
					<div class="form-group">
						<label class="font-weight-bold">Enter your member number</label>
						<div  class="input-group input-group-lg">
							{{ form.member_number }}
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="eds-btn eds-btn--button eds-btn--fill" id="retry" type="button" onclick="window.open('{{ event.url }}', '_blank')" style="display: none;">
					Continue without discount
					</button>
					<input type="submit" id="submit_btn" class="eds-btn eds-btn--button eds-btn--fill" value="OK"/>
				</div>
			</div>
		</form>
	</div>
	 	<script>

        var form_options = {
            target: '#modal',
            dataType: 'json',
            success: function(response) {
            	window.location.href=response.url
            },
            error: function(response){
            	document.getElementById('errors').innerHTML=$($.parseHTML(response.responseText)).find("#errors_form")[0].innerHTML;
            	$('#retry').show();
            	$('#submit_btn').val('Retry');
            }
        }
        $('#get_discount_form').ajaxForm(form_options);

        </script>

{% endblock %}
