{% extends '../shared/base.html' %}
{% block content %}
{% load static %}
<head>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#event_name_box").hide()
			$("#event_name_box").css({'font-size':'1.3em'})
			$("#event_tickets").hide()
		});
		$(window).scroll(function(e){
			  var $el = $('.fixedElement');
			  var isPositionFixed = ($el.css('position') == 'fixed');
			  if ($(this).scrollTop() > 450 && !isPositionFixed){
			    $el.css({'position': 'fixed', 'top': '0px', 'width':'75%', 'box-shadow': '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)','z-index':'100'});
			    	$("#event_name_box").show()
			    	$("#event_tickets").show()
			  }
			  if ($(this).scrollTop() < 450 && isPositionFixed){
			    $el.css({'position': 'static', 'top': '0px','width':'100%', 'box-shadow':'none' });
			    $("#event_name_box").hide()
			    $("#event_tickets").hide()
			  }
		});
	</script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
</head>
<body style=" background: linear-gradient(to bottom,#EBDCE6 20%, #EEEDF2 80% ); background-repeat: no-repeat;">
	<div class="container mt-5 mb-3 justify-content-center">
		<div >
			<!-- Listing Header -->
			<section class="eds-media-card-content eds-media-card-content--grid eds-media-card-content--hero eds-media-card-content--fixed" role="presentation" >
				<aside class="eds-media-card-content__image-container">
					<div tabindex="-1" class="eds-media-card-content__action-link">
						<div class="eds-media-card-content__image-wrapper">
							<div class="eds-media-card-content__image-content">
								<div class="eds-media-card-content__image-placeholder" style="background-color:#EEEDF2;">
								</div>
								{% if event.logo %}
									<img class="eds-media-card-content__image eds-max-img" src="{{event.logo.original.url}}" alt="Event image"/>
								{% else %}
									<img class="eds-media-card-content__image eds-max-img" src="{% static 'images/default-img.png' %}" alt="Event image"/>
								{% endif %}
							</div>
						</div>
					</div>
				</aside>
				<main class="eds-media-card-content__content-container" style="background-color:#ffffff;">
					<div class="eds-media-card-content__content" >
						<div class="eds-media-card-content__extra-content">
							<div class="eds-media-card-content__extra-content">
								<div class="date-thumbnail eds-text--left eds-l-mar-top-1" style="top: 30; position: absolute">
									<p class="date-thumbnail__month eds-text-color--ui-orange eds-text-bs">
										{{ event.start_date | date:"M" | upper}}
									</p>
									<p class="date-thumbnail__day eds-text-bl eds-text-color--grey-600">
										{{ event.start_date | date:"d"}}
									</p>
								</div>
							</div>
						</div>
						<div class="eds-media-card-content__content__principal">
							<div class="eds-media-card-content__primary-content">
								<div class="eds-text-bs eds-text-color--grey-600">
								</div>
								<div tabindex="0" class="eds-media-card-content__action-link">
									<h3 class="eds-media-card-content__title eds-text-color--grey-800 eds-text-hs">
									{{ event.name.text }}
									</h3>
								</div>
							</div>
							<div class="eds-media-card-content__sub-content">
								<div class="eds-text-bs--fixed eds-text-color--grey-600 eds-l-mar-top-1">
									By {{ organizer.first_name }} {{ organizer.last_name }}
								</div>
							</div>
							<div class="eds-media-card-content__sub-content">
								<div class="eds-text-bs--fixed eds-text-color--grey-600 eds-l-mar-bot-4" style="bottom: 0;position: absolute">
									{% if event.is_free %}
										<div class="eds-media-card-content__flag eds-text-bs eds-text-color--grey-600">
											<span class="eds-text-color--grey-700" style="color: green">Free
											</span>
										</div>
									{% else %}
										<div class="eds-media-card-content__flag eds-text-bs eds-text-color--grey-600">
											<span class="eds-text-color--grey-700">
												{% if tickets.min_value_display == tickets.max_value_display %}
													{{ tickets.min_value_display}}
												{% else %}
													{{ tickets.min_value_display}} -
													{{tickets.max_value_display}}
												{% endif %}
											</span>
										</div>
									{% endif %}
									{% if event.discount %}
										<div class="eds-media-card-content__flag eds-align--center eds-text-bs eds-text-color--grey-600">
											<span class="eds-text-color--grey-700">{{ event.discount }} % discount available for members
											</span>
										</div>
									{% else %}
										<div class="eds-media-card-content__flag eds-align--center eds-text-bs eds-text-color--grey-600">
											<span class="eds-text-color--grey-700">This event doesn't have any available discount
											</span>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</main>
			</section>
		</div>
		<!-- Modal Container -->
		<div class="modal" id="modal">
		</div>
		<!-- Listing Get Discount -->
		<div class="fixedElement" style="background-color: #ffffff">
		<hr class="eds-divider__hr eds-bg-color--grey-200 eds-divider--horizontal" data-spec="divider-hr" aria-hidden="true"/>
		<section class="eds-media-card-content eds-media-card-content--grid eds-media-card-content--hero eds-media-card-content--absolute eds-l-pad-all-2" role="presentation" style="background-color: #ffffff">
			<aside class="eds-media-card-content__image-container" >
				<div id="event_name_box" >
					<p>{{event.name.text}}</p>
				</div>
				<div id="event_tickets" style="margin-left: 30px" >
					{% if event.is_free%}
						<div> Free </div>
					{% else %}
						<div>

							{% if tickets.min_value_display == tickets.max_value_display %}
								{{ tickets.min_value_display}}
							{% else %}
								{{ tickets.min_value_display}} - {{tickets.max_value_display}}
							{% endif %}
						</div>
						{% if event.discount %}
							<div> {{ event.discount }} % discount available for members </div>
						{% else %}
							<div> This event doesn't have any available discount </div>
						{% endif %}
					{% endif %}
				</div>
			</aside>
			<main class="eds-media-card-content__content-container">
				<div class="eds-media-card-content__content">
					<div class="eds-media-card-content__content__principal">
						<div class="eds-media-card-content__primary-content">
							<div id="get_discount_box" class="eds-media-card-content__primary-content">
									{% if event.discount %}
		                                <button data-toggle="modal" data-target="#modal" href="{% url 'get_discount' organizer.id event_id %}" class="eds-btn eds-btn--button eds-btn--fill" type="button" style="width: 100%">
												Get Discount
		                                </button>
                                    {% else %}
		                                <button class="eds-btn eds-btn--button eds-btn--fill" type="button" onclick="window.open('{{ event.url }}', '_blank')" style="width: 100%">
		                                     Tickets
		                                </button>
                                    {% endif %}
							</div>
						</div>
					</div>
				</div>
			</main>
		</section>
		<hr class="eds-divider__hr eds-bg-color--grey-200 eds-divider--horizontal" data-spec="divider-hr" aria-hidden="true"/>
		</div>
		 <!-- Listing Body -->
        <section class="eds-media-card-content eds-media-card-content--grid eds-media-card-content--hero eds-media-card-content--fixed eds-l-pad-top-10" role="presentation" style="background-color: #ffffff; padding-bottom:20px;">
            <aside class="eds-media-card-content__image-container" >
                <div class="eds-media-card-content__content">
                    <div class="eds-media-card-content__content__principal" style="top: 0; padding-left: 20px ">
                        <div class="eds-media-card-content__primary-content">
                            <div class="eds-field-styled__input" style="color:black;">
                            <strong>DESCRIPTION</strong>
                            </div>
                        </div>
                        <div class="eds-media-card-content__sub-content">
                            <div class="eds-text-bs--fixed eds-l-mar-top-4" style="line-height: 200%;">
                                {% if event.description.text %}
                                		{{ event.description.html | safe}}
                                {% else %}
                                    This event does not have description
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <main class="eds-media-card-content__content-container">
                <div class="eds-media-card-content__content">
                	{% if event.description.text %}
                    <div class="eds-media-card-content__content__principal" style="top: 40; position: absolute;">
                    {% else %}
                    <div class="eds-media-card-content__content__principal" style="top: 40; position: static;">
                    {% endif %}
                        <div class="eds-media-card-content__primary-content">
                            <div class="eds-media-card-content__primary-content" >
                            <div class="eds-field-styled__input" style="color:black">
                            <strong >DATE AND TIME</strong>
                            </div>
                        </div>
                        </div>
                        <div class="eds-media-card-content__sub-content eds-l-mar-top-4">
                            <div class="eds-text-bs--fixed eds-text-color--grey-600 eds-l-mar-top-1">
                                {{ event.start_date | date:"D, F d, Y"}}
                            </div>
                            <div class="eds-text-bs--fixed eds-text-color--grey-600 eds-l-mar-top-1">
                                {{ event.start_date | date:"H:i A"}} - {{ event.end_date | date:"H:i A"}}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </section>
        <hr class="eds-divider__hr eds-bg-color--grey-200 eds-divider--horizontal" data-spec="divider-hr" aria-hidden="true"/>
        <!-- Maps -->
        {% if event.venue_id %}
        <div style="background-color: #ffffff; padding-left: 20px; padding-top: 10px">
	        <div class="eds-align--left">
	            <div class="eds-media-card-content__sub-content">
	                <div class="eds-field-styled__input" style="color:black;">
	                <strong>LOCATION</strong>
	                {% if venue.name %}
	                    <div class="eds-text-bs--fixed eds-text-color--grey-600 eds-l-mar-top-1">
	                        {{ venue.name}}
	                    </div>
	                {% endif %}
	                </div>
	                {% for data_address in venue.address.localized_multi_line_address_display %}
	                <div class="eds-text-bs--fixed eds-text-color--grey-600 eds-l-mar-top-1">
	                    {{ data_address }}
	                </div>
	                {% endfor %}
	            </div>
			</div>
		</div>
       		<div class="eds-align--center" style="background-color: #ffffff; padding-top: 10px; padding-bottom: 10px">
	        	{% if venue.name %}
	        		<img src="https://maps.googleapis.com/maps/api/staticmap?center={{venue.name}},{{venue.address.city}},{{venue.address.country}}&zoom=15&size=600x300&maptype=roadmap&markers=color:red%7Clabel:%7C{{venue.name}}&key=AIzaSyCsKvO5sQRznZIbbKJ1u_XOiiQrOTY6PxY" alt="Event's venue map" style="">
	        	{% elif venue.address.localized_address_display %}
					<img src="https://maps.googleapis.com/maps/api/staticmap?center={{venue.address.localized_address_display}}&zoom=15&size=600x300&maptype=roadmap&markers=color:red%7Clabel:%7C{{venue.address.localized_address_display}}&key=AIzaSyCsKvO5sQRznZIbbKJ1u_XOiiQrOTY6PxY" alt="Event's venue map" style="">
	        	{% else %}
	        		<img src="https://maps.googleapis.com/maps/api/staticmap?center={{venue.address.city}},{{venue.address.country}}&zoom=15&size=600x300&maptype=roadmap&markers=color:red%7Clabel:%7C{{venue.address.city}},{{venue.address.country}}&key=AIzaSyCsKvO5sQRznZIbbKJ1u_XOiiQrOTY6PxY" alt="Event's venue map" style="">
	        	{% endif %}
	        </div>
        {% endif %}
        <!-- Listing details -->
        <hr class="eds-divider__hr eds-bg-color--grey-200 eds-divider--horizontal" data-spec="divider-hr" aria-hidden="true"/>
		<section class="eds-media-card-content eds-media-card-content--grid eds-media-card-content--hero eds-media-card-content--absolute eds-l-pad-all-2 eds-align--center " role="presentation" style="background-color: #ffffff">
			<div style="text-align: center">
				<strong>{{event.name.text}}</strong>
				<br>
				<p>By</p>
				<strong>{{ organizer.first_name }} {{ organizer.last_name }}</strong>
				{% if event.venue_id %}
				 	<p>in</p>
				 	{% if venue.name %}
				 		<strong>{{venue.name}}</strong>
				 	{% endif %}
                        <div class="eds-text-bs--fixed eds-text-color--grey-600 eds-l-mar-top-1">
                            {{ venue.address.localized_address_display}}
                        </div>
				{% endif %}
			</div>
		</section>
    </div>
</body>
<script>
$('#modal').on('show.bs.modal', function (event) {
    var modal = $('#modal')
    $.ajax({
        url: "{% url 'get_discount' organizer.id event_id %}",
        context: document.body
    }).done(function(response) {
        modal.html(response);
    });
})
</script>

{% endblock %}

