{% extends './shared/base.html' %}
{% block content %}
	{% load static %}
	<div class="container mt-5 mb-5">
		<div>
			<h1 class="mt-2">{{ organizer.first_name }} {{ organizer.last_name }}'s Landing Pages</h1>
			<hr>
		</div>
		{% for landing_page in landing_pages %}
			<div class="row mb-1">
				<div class="col-8">
					<div class="eds-card eds-card--simple" role="presentation" onclick="location.href='{% url 'landing_page_organizer' landing_page.id %}';">
						<div class="eds-g-cell eds-g-cell-8-8 eds-g-cell-mn-7-8 eds-l-pad-all-6 eds-text-color--grey-700" data-spec="capacity-card">
							<div class="eds-l-pad-hor-4 eds-g-cell eds-g-cell-8-12">
								<h5>{{landing_page.name}}</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		<div class="mb-3">
			<div class="row d-flex justify-content-end">
				<div class="col-2">
					<a class= "btn btn-success col-12" href="{% url 'create_landing_page' %}">Create Landing page</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
