{% extends '../shared/base.html' %}
{%load static%}
{%block content%}
<head>
	<script type="text/javascript" src="{% static 'js/create_discount_logic.js' %}"></script>
</head>
<body>
	<div>
		<h1 class="row">Create Discount</h1>
		<hr>
	</div>
	<form action="" method="POST">
		{% csrf_token %}
		<div class="container">
			<label class="font-weight-bold">Name</label>
			<div class="input-group input-group-lg">
  				<input type="text" class="form-control" aria-label="Large" name="discount_name" placeholder="Discount Name" required>
			</div>
		</div>

		<div class="container mt-3">
			<label class="font-weight-bold">Discount amount</label>
			<label class="font-italic row container">Select Discount Type</label>
			<select id="discount_type"class="custom-select" name="discount_type">
				<option value="empty_value">Choose an option</option>
				<option value="fixed">Fixed Amount $</option>
				<option value="percentage">Percentage %</option>
			</select>
		</div>

		<div class="container mt-3" id="insert_discount_title">
			<label class="font-italic row container">Insert your discount</label>
		</div>
		<div class="container" id="fixed-value" name="fixed-value">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
				    <span class="input-group-text">$</span>
				</div>
				<input type="number" id="discount_fixed" name="discount_fixed" class="form-control" min=0 >
			</div>
		</div>

		<div class="container" id="percentage-value" name="percentage-value">
			<div class="input-group mb-3">
				<input type="number" id="discount_percentage" name="discount_percentage" class="form-control" min=0 max=100>
				<div class="input-group-append">
				    <span class="input-group-text">%</span>
				</div>
			</div>
		</div>
		<div class="contianer float-right mt-5 col-2">
			<button class="btn btn-success col-12">Save</button>
		</div>
	</form>
</body>
{%endblock%}
