{% extends '../shared/base.html' %}
{%load static%}
{%block content%}
<head>
	<script type="text/javascript" src="{% static 'js/create_discount_logic.js' %}"></script>
</head>
<body>
	<div class="container">
		<div class="mt-5">
			{% if discount.id %}
				<h1 class="row">Modify Discount</h1>
			{% else %}
				<h1 class="row">Create Discount</h1>
			{% endif %}
			<hr>
		</div>

		{% if form.errors %}
	    {% for field in form %}
	        {% for error in field.errors %}
	            <div class="alert alert-danger">
	                <strong>{{ error|escape }}</strong>
	            </div>
	        {% endfor %}
	    {% endfor %}

	    {% for error in form.non_field_errors %}
	        <div class="alert alert-danger">
	            <strong>{{ error|escape }}</strong>
	        </div>
	    {% endfor %}
	{% endif %}
		<form action="" method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label class="font-weight-bold">Name</label>
				<div  class="input-group input-group-lg">
						{{form.discount_name}}
				</div>
			</div>

			<div class="form-group mt-3">
				<label class="font-weight-bold">Discount amount</label>
				<label class="font-italic row container">Select Discount Type</label>
				{{form.discount_type}}
			</div>

			<div class="mt-3 form-group" id="insert_discount_title">
				<label class="font-italic">Insert your discount</label>
			</div>

			<div id="fixed_symbol" class="input-group-prepend">
            	<span class="input-group-text">$</span>
        	</div>

        	{{form.discount_value}}

       		<div id="percentage_symbol" class="input-group-append">
                <span class="input-group-text">%</span>
       		</div>

			<div class="float-right mt-5 col-2">
				<button class="btn btn-success col-12">Save</button>
			</div>
		</form>
	</div>
</body>
{%endblock%}
