{% extends '../shared/base.html' %}
{% load static %}
{% block content %}
{% load i18n %}
  <head>
    <script type="text/javascript" src="{% static 'js/double_click.js' %}"></script>
  </head>
	<div class="modal-dialog" style="background-color: #ffffff;" >
		<div class="modal-content mx-auto" style="padding-left: 10%;padding-right: 10%;">
		<form id="discount_form" action="{% url 'delete_discount' event.id discount.id %}" method="post">
			<div class="modal-body">

			{% csrf_token %}
			<br>
				<div class="row d-flex justify-content-center">
					<p><h4 class="font-italic"> {% trans "Are you sure you want to delete the discount" %} "{{ discount.name }}"?</h4></p>
				</div>
				<div class="row mt-5" >
					<div class="col d-flex justify-content-end">
						<input id="submit_btn"type="submit" value="{% trans 'Confirm' %}" class="eds-btn eds-btn--button eds-btn--fill" />
					</div>
					<div class="col d-flex justify-content-start">
					<a href="{% url 'events_discount' event.id %}" class="eds-btn eds-btn--button eds-btn--neutral">{% trans "Cancel" %}</a>
					</div>
				</div>
				<br>
		</form>
		</div>
		</div>
	</div>
{% endblock %}
