{% extends '../shared/base.html' %}
{% load static %}
{% block content %}
  <head>
    <script type="text/javascript" src="{% static 'js/double_click.js' %}"></script>
  </head>
	<div class="container mt-3">
		<form id="discount_form" action="" method="post">
			{% csrf_token %}
			<br>
				<div class="row d-flex justify-content-center">
					<p><h4 class="font-italic"> Are you sure you want to delete the discount "{{ discount.name }}"?</h4></p>
				</div>
				<div class="row mt-3" >
					<div class="col d-flex justify-content-end">
						<input id="submit_btn"type="submit" value="Confirm" class="btn btn-danger" />
					</div>
					<div class="col d-flex justify-content-start">
					<a href="{% url 'events_discount' event.id %}" class="btn btn-dark ">Cancel</a>
					</div>
				</div>
				<br>
		</form>
	</div>
{% endblock %}
