   <div class="card" style="width: 20rem;">
                {% if event.logo %}
					<img class="card-img-top" src={{event.logo.url}}>
				{% else %}
					<img class="card-img-top" src="{% static 'images/default-img.png' %}" alt="img por defecto">
				{% endif %}
				{% if event.is_free %}
					<div class="discount free">
						<small>FREE</small>
					</div>
				{% endif %}
				{% if event.discount %}
					<div class="discount">
						<small>{{ event.discount }} % </small>
					</div>
				{% endif %}
                <div class="card-body">
                	<div class="reduced_date">
                		<p id="month">{{ event.reduce_month }}.</p>
                		<p id="day" class="text-secondary">{{ event.reduce_day }}</p>
                	</div>
                	<div class="float-rigth">
	                    <h5 class="card-title">{{event.name.text}}</h5>
	                    <i>
	                    <p class="card-text" style="margin-top: -6px;">
	                        {{event.local_date}}
	                    </p>
	                    </i>
                	</div>
                </div>
            </div>