{% extends '../shared/base.html' %}
{% load static %}
{% block content %}
    <form class="mt-5" action="" method="POST">
    {% csrf_token %}
    {% for event in events %}
        <div class="card mb-3">
            <div class="container-fluid">
                <div class="row" style="height: 150px;">
                    <div>
                        {% if event.logo %}
                            <img class="card-img mh-100 img-fluid" src={{event.logo.url}} style="width: 300px">
                        {% else %}
                            <img class="card-img mh-100 img-fluid" src="{% static 'images/default-img.png' %}" style="width: 300px" alt="img por defecto">
                        {% endif %}
                    </div>
                    <div class="card-body col-8">
                        <h5 class="card-title">{{ event.name.text }}</h5>
                        <p class="card-text"><small class="text-secondary small">{{ event.local_date }}</small></p>
                        <div class="float-right" style="width: 20px; height: 20px;">
                            {% if event.id in already_selected_id %}
                                <input type="checkbox" class="form-control-lg" name="event_{{ event.id }}" checked>
                            {% else %}
                                <input type="checkbox" class="form-control-lg" name="event_{{ event.id }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
        <input type="submit" class="btn btn-success float-right" value="Select Event/s"></input>
    </form>
{% endblock %}
