{% extends '../shared/base.html' %}
{% load static %}
{% block content %}
    <form class="mt-5" action="" method="POST">
    {% csrf_token %}
    <div class="row">
        {% for event in events %}
        <div class="col-4">
            <div class="container card" style="width: 20rem;">
                <div class="card-body">
                    <div>
                        <div class="text-left">
                            <h5 class="card-title">{{event.name.text}}</h5>
                            <div class="text-right" >
                                {% if event.id in already_selected_id %}
                                    <input type="checkbox" class="form-control-lg" name="event_{{ event.id }}" checked>
                                {% else %}
                                    <input type="checkbox" class="form-control-lg" name="event_{{ event.id }}">
                                {% endif %}
                            </div>
                            <i>
                            <p class="card-text" style="margin-top: -6px;">
                                {{event.local_date}}
                            </p>
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
        <div class="row justify-content-end">
            <input type="submit" class="btn btn-success text-right" value="Select Event/s"></input>
        </div>
    </form>
{% endblock %}
